graft docs
prune docs/_build
graft src
graft ci
graft tests
graft examples

include .coveragerc
include .cookiecutterrc
include .editorconfig
include *.md
include *.json

include *.enc
include requirements.txt
include requirements-dev.txt
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml
recursive-include tests *.py

include versioneer.py

prune .github
prune .joss
global-exclude *.py[cod] __pycache__ *.so *.dylib
