graft docs
graft src
graft ci
graft tests

include .coveragerc
include .cookiecutterrc
include .editorconfig
include *.md
include *.json

include requirements.txt
include requirements-dev.txt
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml
include tests
recursive-include tests *.py

include versioneer.py
include nibetaseries _version.py
include update_changes.sh

prune .github
global-exclude *.py[cod] __pycache__ *.so *.dylib
