click==6.7
configparser==3.5.0
decorator==4.1.2
funcsigs==1.0.2
future==0.16.0
grabbit==0.0.7
isodate==0.5.4
lxml==3.8.0
mock==2.0.0
networkx==1.11
nibabel==2.1.0
nilearn==0.3.1
nipype==0.13.1
nistats==0.1.0
numpy==1.13.1
pandas==0.20.3
patsy==0.4.1
pbr==3.1.1
prov==1.5.1
py==1.4.34
pybids==0.3
pydotplus==2.0.2
pyparsing==2.2.0
pytest==3.2.1
python-dateutil==2.6.1
pytz==2017.2
rdflib==4.2.2
scikit-learn==0.19.0
scipy==0.19.1
simplejson==3.11.1
six==1.10.0
sklearn==0.0
traits==4.6.0
